TOPIC: String Based Assignment Problem

Problem 1 : Write a program to reverse a string.

In [1]:
s = "pwskills"

In [2]:
s[::-1]

'sllikswp'

Problem 2 : Check if a string is a palindrome.

In [3]:
def isPalindrome(string):
    if(string==string[::-1]):
        return "String is Palindrome"
    else:
        return "String is not Palindrome"
print(isPalindrome("MOM"))

String is Palindrome

Problem 3 :Convert a string to uppercase.

In [4]:
s1 = "Maneesh Kumar"
print(s1.upper())

MANEESH KUMAR

Problem 4 : Convert a string to lowercase.

In [5]:
s2 = "Maneesh Kumar"
print(s1.lower())

maneesh kumar

Problem 5 : Count the number of vowels in a string.

In [6]:
s3 = "My name is maneesh Kumar"
count = 0
vowels  = "aeiou"
for item in s3:
    if item in vowels:
        count =count+1
print("No. of Vowels:",count)

No. of Vowels: 8

Problem 6 : Count the number of consonants in a string.

In [7]:
s4 = "String is not a Palindrome"
consonantsCount = 0
vowelsCount = "abcdfghjklmnpqrstvwxyz"
for item in s4:
    if item in vowelsCount:
        consonantsCount = consonantsCount+1
print("No. of Consonants:",consonantsCount)

No. of Consonants: 14

Problem 7 : Remove all whitespaces from a string.

In [8]:
s5 = "  test data "
s5.strip()

'test data'

Problem 8 : Find the length of a string without using the `len()` function.

In [9]:
s6 = "Maneesh"
length = 0
for item in s6:
    length = length+1
print(length)

7

Problem 9 : Check if a string contains a specific word.

In [10]:
s7 = "The king loves is queen"
item = "loves"
if item in s7:
    print("String Contains",item)
else:
    print("String does not contains",item)

String Contains loves

Problem 10 :Replace a word in a string with another word.

In [11]:
s8 = "The king loves is queen"
word = "hates"
s8.replace("loves",word)

'The king hates is queen'

Promblem 11: Count the occurrences of a word in a string.

In [12]:
s9 = "Count the occurrences of a word in a string."
print("No. of Occurrences of - the:",s9.count("the"))

No. of Occurrences of - the: 1

Promblem 12: Find the first occurrence of a word in a string.

In [13]:
txt = "Visit Pwskills tutorials. very very nice"
txt.find("very")

26

Promblem 13: Find the last occurrence of a word in a string.

In [14]:
txt = "Visit Pwskills tutorials. very very nice"
txt.rfind("very")

31

Promblem 14: Split a string into a list of words.

In [15]:
txt = "Visit Pwskills tutorials. very very nice"
txt.split()

['Visit', 'Pwskills', 'tutorials.', 'very', 'very', 'nice']

Promblem 15: Join a list of words into a string.

In [16]:
listofwords = ['Visit', 'Pwskills', 'tutorials.', 'very', 'very', 'nice']
txtstring = ' '.join(listofwords)
print(txtstring)

Visit Pwskills tutorials. very very nice

Promblem 16: Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [17]:
txt = "Visit Pwskills tutorials very very nice"
print(txt.replace(' ','_'))

Visit_Pwskills_tutorials_very_very_nice

Promblem 17: Check if a string starts with a specific word or phrase.

In [18]:
txt = "Hello, welcome to my world."
txt.startswith("Hello")

True

Promblem 18: Check if a string ends with a specific word or phrase.

In [19]:
txt = "Hello, welcome to my world"
txt.endswith("world")

True

Promblem 19: Convert a string to title case (e.g., "hello world" to "Hello World").

In [20]:
txt = "hello world"
txt.title()

'Hello World'

Problem 20: Find the longest word in a string.

In [21]:
txt = "Hello, welcome to my world"
listofData = txt.split(' ')
sortedString = sorted(listofData,key = len)
sortedString[-1]

'welcome'

Problem 21 : Find the shortest word in a string.

In [22]:
txt = "Hello, welcome to my world"
listofData = txt.split(' ')
sortedString = sorted(listofData,key = len)
sortedString[0]

'to'

Problem 22: Reverse the order of words in a string.

In [23]:
txt = "Hello, welcome to my world"
listofSplit = txt.split(' ')
#print the reverse word of string
print(' '.join(listofSplit[::-1]))

world my to welcome Hello,

Problem 23: Check if a string is alphanumeric.

In [24]:
txt = "pwskills99"
def checkStringisAlphaNumric(s):
    if(txt.isalnum()):
        print("String is AlphaNumeric")
    else:
        print("String is not a AlphaNumeric")
checkStringisAlphaNumric(txt)

String is AlphaNumeric

Problem 24: Extract all digits from a string.

In [25]:
import re
txt = "pwskills99"
# Extract digit string 
res = re.sub("\D", "", txt)     
# print result
print("The digits string is : " + str(res))

The digits string is : 99

Problem 25 : Extract all alphabets from a string.

In [26]:
import re
txt = "pwskills99"
# Extract digit string 
res = " ".join(re.findall("[a-zA-Z]+", txt))
# print result
print("The string is : " + str(res))

The string is : pwskills

Problem 26 : Count the number of uppercase letters in a string.

In [27]:
txt = "My Name is Maneesh Kumar"
count = 0
for i in txt:
    if (i.isupper()):
        count +=1
print("Number of UpperCase letter in String:",count)

Number of UpperCase letter in String: 4

Problem 27:Count the number of lowercase letters in a string.

In [28]:
txt = "Virat Kohali is a good player"
count = 0
for i in txt:
    if(i.islower()):
        count +=1
print("Number of lowerCase letter in String:",count)

Number of lowerCase letter in String: 22

Problem 28: Swap the case of each character in a string.

In [29]:
txt = "Virat KoHaLi"
txt = txt.swapcase()
print(txt)

vIRAT kOhAlI

Problem 29: Remove a specific word from a string.

In [30]:
txt = "Swap the case of each character in a string."
txt = txt.replace("each",'')
print("After removing specific word:",txt)

After removing specific word: Swap the case of  character in a string.

Problem 30: Check if a string is a valid email address.

In [31]:
import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[a-zA-Z\d\.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, email))

# Example usage:
email_to_check = "example@email.com"
if is_valid_email(email_to_check):
    print(f"{email_to_check} is a valid email address.")
else:
    print(f"{email_to_check} is not a valid email address.")

example@email.com is a valid email address.

Problem 31 : Extract the username from an email address string.

In [32]:
def extract_username(email):
    username = email.split('@')[0]
    return username
email_address = "example123@gmail.com"
username_extracted = extract_username(email_address)
print("Extracted Username from Email Address:",username_extracted)

Extracted Username from Email Address: example123

Problem 32: Extract the domain name from an email address string.

In [33]:
def extract_domanName(email):
    domain = email.split('@')[1]
    return domain
email_address = "example123@gmail.com"
domain_extracted = extract_domanName(email_address)
print("Extracted Domain Name from Email Address:",domain_extracted)

Extracted Domain Name from Email Address: gmail.com

Problem 33: Replace multiple spaces in a string with a single space.

In [34]:
txt = "A good    player is   respect everyone   in his    team"
def replace_multiple_spaces_with_single_space(input_string):
    return ' '.join(input_string.split())
modified_string = replace_multiple_spaces_with_single_space(txt)
print(modified_string)

A good player is respect everyone in his team

Problem 34: Check if a string is a valid URL.

In [35]:
from urllib.parse import urlparse
def check_Valid_Url(stringurl):
    try:
        result = urlparse(stringurl)
        return all([result.scheme,result.netloc])
    except ValueError:
        return False
url_string = "https://www.google.com"
if (check_Valid_Url(url_string)):
    print(f"{url_string} is a valid url")
else:
    print(f"{url_string} is not a valid url")

https://www.google.com is a valid url

Problem 35 : Extract the protocol (http or https) from a URL string.

In [36]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

# Example usage:
url_to_check = "https://www.google.com"
protocol = extract_protocol(url_to_check)
print(f"The protocol of {url_to_check} is: {protocol}")

The protocol of https://www.google.com is: https

Problem 36 : Find the frequency of each character in a string.

In [37]:
txt = "Find the frequency of each character in a string."
frequency = {}
for i in txt:
    if (i in frequency):
        frequency[i] +=1
    else:
        frequency[i] = 1
print("Frequency of Each character:",frequency)

Frequency of Each character: {'F': 1, 'i': 3, 'n': 4, 'd': 1, ' ': 8, 't': 3, 'h': 3, 'e': 5, 'f': 2, 'r': 4, 'q': 1, 'u': 1, 'c': 4, 'y': 1, 'o': 1, 'a': 4, 's': 1, 'g': 1, '.': 1}

Problem 37 : Remove all punctuation from a string.

In [38]:
import string
txt = "Remove ! all. punctuation from ! a string."
def remove_punctuation(input_string):
    translator = str.maketrans('','',string.punctuation)
    cleaned_string = input_string.translate(translator)
    return cleaned_string
print("Cleaned String:",remove_punctuation(txt))

Cleaned String: Remove  all punctuation from  a string

Problem 38: Check if a string contains only digits.

In [39]:
txt = "99999999"
if(txt.isnumeric()):
    print("String Contains Only digit")
else:
    print("String does not contain only digit")

String Contains Only digit

Problem 39: Check if a string contains only alphabets.

In [40]:
txt = "pwskills"
if(txt.isalpha()):
    print("String Contains Only Alphabest")
else:
    print("String does not contain only Alphabest")

String Contains Only Alphabest

Problem 40: Convert a string to a list of characters.

In [41]:
txt = "pwskillslab"
list(txt)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's', 'l', 'a', 'b']

Problem 41: Check if two strings are anagrams.

In [42]:
str1 = "Race"
str2 = "Care"
#covert botht the string to lowercase
str1 = str1.lower()
str2 = str2.lower()
#check the length of the both string
if(len(str1)==len(str2)):
    str1_sorted = sorted(str1)
    str2_sorted = sorted(str2)
    if(str1_sorted==str2_sorted):
        print(str1 + " and " + str2 + " are anagrams")
    else:
        print(str1 + " and "  + str2 + " are not anagrams")
else:
    print(str1 + " and " + str2 + " are not anagrams")

race and care are anagrams

Problem 42: Encode a string using a Caesar cipher.

In [43]:
text = "Hello Everyone"
n = 4
def encrypt_text(plain_text,s):
    encrypted_text = ""
    for i in plain_text:
        ch = i
        if ch == " ":
           encrypted_text+=" "
        elif(ch.isupper()):
            encrypted_text += chr((ord(ch) + n-65) % 26 + 65)
        else:
            encrypted_text += chr((ord(ch) + n-97) % 26 + 97)
    return encrypted_text
print("Orginal Text :",text)
print("Encrypted Text:",encrypt_text(text,str(n)))

Orginal Text : Hello Everyone
Encrypted Text: Lipps Izivcsri

Problem 43 : Decode a Caesar cipher encoded string.

In [44]:

def decrypt(key, message):
    small_alpha = "abcdefghijklmnopqrstuvwxyz"
    big_alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    result = ""

    for letter in message:
        if letter in big_alpha: #if the letter is actually a letter
            #find the corresponding ciphertext letter in the alphabet
            letter_index = (big_alpha.find(letter) - key) % len(big_alpha)

            result = result + big_alpha[letter_index]
        elif letter in small_alpha:
            #find the corresponding ciphertext letter in the alphabet
            letter_index = (small_alpha.find(letter) - key) % len(small_alpha)

            result = result + small_alpha[letter_index]
        else:
            result = result+letter

    return result
encrypted_message = "Lipps Izivcsri"
print("Encrypted Message:",encrypted_message)
print("Decrypted Message:",decrypt(4,encrypted_message))

Encrypted Message: Lipps Izivcsri
Decrypted Message: Hello Everyone

Problem 44 : Find the most frequent word in a string.

In [45]:
from collections import Counter
input_string = "Don't miss your chance to ride the wave of the data revolution! Every industry is scaling new heights by tapping into the power of data. Sharpen your skills and become a part of the hottest trend in the 21st century."
split_string = input_string.split( )
split_counter = Counter(split_string)
most_frquent_word = split_counter.most_common()
print(most_frquent_word)

[('the', 5), ('of', 3), ('your', 2), ("Don't", 1), ('miss', 1), ('chance', 1), ('to', 1), ('ride', 1), ('wave', 1), ('data', 1), ('revolution!', 1), ('Every', 1), ('industry', 1), ('is', 1), ('scaling', 1), ('new', 1), ('heights', 1), ('by', 1), ('tapping', 1), ('into', 1), ('power', 1), ('data.', 1), ('Sharpen', 1), ('skills', 1), ('and', 1), ('become', 1), ('a', 1), ('part', 1), ('hottest', 1), ('trend', 1), ('in', 1), ('21st', 1), ('century.', 1)]

Problem 45: Find all unique words in a string.

In [46]:
input_string = "Don't miss your chance to ride the wave of the data revolution! Every industry is scaling new heights by tapping into the power of data. Sharpen your skills and become a part of the hottest trend in the 21st century."
split_string = input_string.split( )
print(set(split_string))

{'wave', '21st', 'part', 'chance', 'your', 'data.', 'to', 'miss', "Don't", 'is', 'and', 'hottest', 'into', 'trend', 'Sharpen', 'tapping', 'heights', 'century.', 'the', 'industry', 'new', 'scaling', 'become', 'in', 'ride', 'revolution!', 'of', 'data', 'a', 'Every', 'power', 'by', 'skills'}

Problem 46 :Count the number of syllables in a string.

In [47]:
import re

def count_syllables(word):
    return len(
        re.findall('(?!e$)[aeiouy]+', word, re.I) +
        re.findall('^[^aeiouy]*e$', word, re.I)
    )
print(count_syllables("Tomato"))

3

Problem 47: Check if a string contains any special characters.

In [48]:
import re
def special_characters(word):
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
    if(regex.search(word) == None):
        print("String does not contain Special Characters")     
    else:
        print("String contains Special Characters")
input_string = "pw$skills"
special_characters(input_string)

String contains Special Characters

Problem 48: Remove the nth word from a string.

In [49]:
def remove_word(my_list, my_word, N):
   count = 0

   for i in range(0, len(my_list)):
      if (my_list[i] == my_word):
        count = count + 1

      if(count == N):
         del(my_list[i])
         return True

   return False

input_string = "This is my test string."
my_list = input_string.split()
print("The String is :")
print(input_string)
print(my_list)
my_word = 'my'
N = 1

flag_val = remove_word(my_list, my_word, N)

if (flag_val == True):
   print("The updated String is: ", " ".join(my_list))
else:
   print("String hasn't been updated")

The String is :
This is my test string.
['This', 'is', 'my', 'test', 'string.']
The updated String is:  This is test string.

Problem 49 : Insert a word at the nth position in a string.

In [50]:
# initializing N
N = 3
# using join() + list() + insert()
# Add substring at specific index
test_string = "This is my test string"
my_list = list(test_string.split())
add_string = "your"
mylist = my_list.insert(N,add_string)
test_string =  " ".join(my_list)
print(test_string)

This is my your test string

Problem 50: Convert a CSV string to a list of lists.

Topic : List Based Practice Problem

Problem 1 : Create a list with integers from 1 to 10.

In [51]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Problem 2: Find the length of a list without using the `len()` function.

In [52]:
my_list = [1,2,3,4,5,6,7,8,9,10]
count = 0
for i in my_list:
    count = count+1
print("Lenght of List:",count)

Lenght of List: 10

Problem 3 : Append an element to the end of a list.

In [53]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.append(11)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Problem 4: Insert an element at a specific index in a list.

In [54]:
my_list = [1,2,3,4,5,6,7,8,9,10]
N=4
my_list.insert(N,11)
print(my_list)

[1, 2, 3, 4, 11, 5, 6, 7, 8, 9, 10]

Problem 5: Remove an element from a list by its value.

In [55]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.remove(10)
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Problem 6: Remove an element from a list by its index.

In [56]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index_to_remove = 4
my_list.pop(index_to_remove)
my_list

[1, 2, 3, 4, 6, 7, 8, 9, 10]

Problem 7 : Check if an element exists in a list.

In [57]:
my_list = [1,2,3,4,5,6,7,8,9,10]
check_element = 10
if check_element in my_list:
    print("Element Exist")
else:
    print("Element does not exist")

Element Exist

Problem 8: Find the index of the first occurrence of an element in a list.

In [58]:
my_list = [1,2,3,4,5,6,7,8,8,9,10]
my_list.index(8)

7

Problem 9: Count the occurrences of an element in a list.

In [59]:
my_list = [1,2,3,4,5,6,7,8,8,9,10]
my_list.count(8)

2

Problem 10 : Reverse the order of elements in a list.

In [60]:
my_list = [1,2,3,4,5,6,7,8,8,9,10]
my_list.reverse()
my_list

[10, 9, 8, 8, 7, 6, 5, 4, 3, 2, 1]

Problem 11: Sort a list in ascending order.

In [61]:
my_list = [1,2,3,4,5,11,6,7,8,9,10]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Problem 12: Sort a list in descending order.

In [62]:
my_list = [11,23,13,45,20,25,18]
my_list.sort(reverse=True)
print(my_list)

[45, 25, 23, 20, 18, 13, 11]

Problem 13: Create a list of even numbers from 1 to 20.

In [63]:
even_number_list = []
for i in range(1,21):
    if(i%2==0):
        even_number_list.append(i)
print(even_number_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Problem 14: Create a list of odd numbers from 1 to 20.

In [64]:
odd_number_List = []
for i in range(1,20):
    if(i%2!=0):
        odd_number_List.append(i)
print(odd_number_List)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Problem 15: Find the sum of all elements in a list.

In [65]:
my_list = [12,35,34,56,7,8,9,15]
totalsum =0;
for i in my_list:
    totalsum = totalsum+i
print(totalsum)

176

Problem 16: Find the maximum value in a list.

In [66]:
my_list = [12,35,34,56,7,8,9,15]
maximumValue = 0
for i in my_list:
    if(i>maximumValue):
        maximumValue = i
print(maximumValue)

56

Problem 17: Find the minimum value in a list.

In [67]:
my_list = [12,35,34,56,7,8,9,15]
minimumValue = my_list[0]
for i in my_list:
    if(i<minimumValue):
        minimumValue = i
print(minimumValue)

7

Problem 18: Create a list of squares of numbers from 1 to 10.

In [68]:
squares_number_List = []
for i in range(1,11):
    squares_number_List.append(i**2)
squares_number_List

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Problem 19: Create a list of random numbers.

In [69]:
import random
random_numbers_List = []
n=10
for i in range(n):
    random_numbers_List.append(random.randint(3,9))
print(random_numbers_List)

[5, 9, 9, 3, 5, 7, 3, 4, 6, 6]

Problem 20: Remove duplicates from a list.

In [70]:
my_list = [1,2,3,4,2,3,4,5,1,2,4,5]
my_list = list(set(my_list))
print(my_list)

[1, 2, 3, 4, 5]

problem 21: Find the common elements between two lists.

In [71]:
list1 = [1,2,3,4,5,6,7]
list2 = [4,5,2,3,6,7,8]
common_elements = []
for x in list1:
    for y in list2:
        if(x==y):
            common_elements.append(x)
print("Common Elements:",common_elements)

Common Elements: [2, 3, 4, 5, 6, 7]

Problem 22:Find the difference between two lists.

In [72]:
list_a = [1,2,3,4,5]
list_b = [8,7,2,3,5]
difference = (set(list_a)-set(list_b)).union(set(list_b)-set(list_a))
print("Difference between two list")
difference

Difference between two list

{1, 4, 7, 8}

Problem 23: Merge two lists.

In [73]:
list_a = [1,2,3,4,5]
list_b = [8,7,2,3,5]
list_a.extend(list_b)
print(list_a)

[1, 2, 3, 4, 5, 8, 7, 2, 3, 5]

Problem 24: Multiply all elements in a list by 2.

In [74]:
list_a = [1,2,3,4,5]
list_b =[]
for i in list_a:
    list_b.append(i*2)
print(list_b)

[2, 4, 6, 8, 10]

Problem 25: Filter out all even numbers from a list.

In [75]:
list_a = [2,3,4,5,6,7,8,9,10]
filter_evennumber = []
for i in list_a:
    if(i%2==0):
        filter_evennumber.append(i)
print(filter_evennumber)

[2, 4, 6, 8, 10]

Problem 26: Convert a list of strings to a list of integers.

In [76]:
list_a = ['1','2','3','4','5']
for i in range(0,len(list_a)):
    list_a[i]=int(list_a[i])
print("Modified List:",list_a)

Modified List: [1, 2, 3, 4, 5]

Problem 27: Convert a list of integers to a list of strings.

In [77]:
list_b = [1, 2, 3, 4, 5]
for i in range(0,len(list_b)):
    list_b[i]=str(list_b[i])
print("Modified List:",list_b)

Modified List: ['1', '2', '3', '4', '5']

Problem 28: Flatten a nested list.

In [78]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

Problem 29: Create a list of the first 10 Fibonacci numbers.

In [79]:
def fibonacci(n, a, b):
    if n == 0:
        return []
    elif n == 1:
        return [a]
    elif n == 2:
        return [a, b]
    else:
        fib = [a, b]
        for i in range(2, n):
            fib.append(fib[i-1] + fib[i-2])
        return fib
fibonacci(10,0,1)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Problem 30: Check if a list is sorted.

In [80]:
test_list = [1,4,5,6,2,3]
test_list1 = test_list
flag = 0
if(test_list1.sort()==test_list):
    flag = 1
if (flag) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

No, List is not sorted.

Problem 31: Rotate a list to the left by `n` positions.

In [81]:
from collections import deque
test_list = [1,2,3,4,5,6,7,8,9,10]
# rotate lefe by this postion
n = int(input("Enter Number of left Rotation"))
test_deque = deque(test_list)
test_deque.rotate(-n)
test_list = list(test_deque)
print ("List after left rotate by:" + str(test_list))

Enter Number of left Rotation 5

List after left rotate by:[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

Problem 32:Rotate a list to the right by `n` positions.

In [82]:
from collections import deque
test_list = [1,2,3,4,5,6,7,8,9,10]
# rotate lefe by this postion
n = int(input("Enter Number of Right Rotation"))
test_deque = deque(test_list)
test_deque.rotate(n)
test_list = list(test_deque)
print ("List after right rotate by:" + str(test_list))

Enter Number of Right Rotation 7

List after right rotate by:[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

Problem 33: Create a list of prime numbers up to 50.

In [83]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(50)
#print prime number list
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Problem 34: Split a list into chunks of size `n`.

In [84]:
list_a = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
n = int(input("Enter Number of Chunks"))
start = 0
end = len(list_a)
step =n
for i in range(start,end,step):
    #print chunk of lists
    print(list_a[i:i+step])

Enter Number of Chunks 6

[2, 3, 5, 7, 11, 13]
[17, 19, 23, 29, 31, 37]
[41, 43, 47]

Problem 35: Find the second largest number in a list.

In [85]:
list_a = [2,4,3,6,7,8]
list_b = list(set(list_a))
list_b.sort()
print("Second Largest Element:",list_b[-2])

Second Largest Element: 7

Problem 36:Replace every element in a list with its square.

In [86]:
list_a = [2,4,3,6,7,8]
print("Original String:",list_a)
for i in list_a:
    list_a[list_a.index(i)]=i**2
print("Square List:",list_a)

Original String: [2, 4, 3, 6, 7, 8]
Square List: [16, 4, 9, 36, 49, 64]

Problem 37: Convert a list to a dictionary where list elements become keys and their
indices become values.

In [87]:
list_a = [2,3,4,6,8,9]
dict_list = dict(enumerate(list_a)) #convert list to dixt
#print dict
print(dict_list)

{0: 2, 1: 3, 2: 4, 3: 6, 4: 8, 5: 9}

Problem 38:Shuffle the elements of a list randomly.

In [88]:
import random
list_a = [1,2,3,4,5,6,7,8,9,10]
print("Origional List:",list_a)
random.shuffle(list_a)
print("Shuffle List:",list_a)

Origional List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Shuffle List: [8, 3, 6, 10, 4, 2, 5, 9, 1, 7]

Problem 39:Create a list of the first 10 factorial numbers.

In [89]:
list_b = []
for i in range(1,11):
    fact = 1
    for item in range(1,i+1):
        fact = fact*item
    list_b.append(fact)
print("Factorial List:",list_b)

Factorial List: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

Problem 40: Check if two lists have at least one element in common.

In [90]:
list_a = [5,8,2,9,10]
list_b = [4,3,6,7,1]
def common_element(list1,list2):
    flag = False
    for i in list_a:
        for j in list_b:
            if(i==j):
                flag = True
                return flag
    return flag
print("Both List have at least one Common Element:",common_element(list_a,list_b))

Both List have at least one Common Element: False

Problem 41 : Remove all elements from a list.

In [91]:
list_a = [5,8,2,9,10]
list_a.clear()
list_a

[]

Problem 42: Replace negative numbers in a list with 0.

In [92]:
list_a = [2,3,4,5,-5,-8,-7]
for item in range(0,len(list_a)):
    if(list_a[item]<0):
        list_a[item]=0
print("Updated List:",list_a)

Updated List: [2, 3, 4, 5, 0, 0, 0]

Problem 43: Convert a string into a list of words.

In [93]:
word_string ="pwskills"
list_a = list(word_string)
print(list_a)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Problem 44: Convert a list of words into a string.

In [94]:
list_a = ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']
world_string = ''.join(list_a)
print(world_string)

pwskills

Problem 45: Create a list of the first `n` powers of 2.

In [95]:
list_a =  []
n = int(input("Enter Number to Print Powers of 2"))
for i in range(0,n+1):
    list_a.append(2**i)
list_a

Enter Number to Print Powers of 2 5

[1, 2, 4, 8, 16, 32]

Problem 46: Find the longest string in a list of strings.

In [96]:
list_a = ["my","name","is","schools"]
max_len = -1
for item in list_a:
    if(len(item)>max_len):
        max_len = len(item)
        res = item
print("longest string:",res)

longest string: schools

Problem 47: Find the shortest string in a list of strings.

In [97]:
list_a = ["miy","name","is","schools"]
min_len = list_a[0]
for item in list_a:
    if(len(item)<len(min_len)):
        min_len = item
print("Shortest string:",min_len)

Shortest string: is

Problem 48: Create a list of the first `n` triangular numbers.

In [98]:
triangular_numbers = []
n = int(input("Tringular Number"))
for i in range(1, n + 1):
    triangular_numbers.append((i*(i+1))//2)
triangular_numbers
print(f"The first {n} triangular numbers are: {triangular_numbers}")

Tringular Number 2

The first 2 triangular numbers are: [1, 3]

Problem 49: Check if a list contains another list as a subsequence.

In [99]:
main_list = [1,2,3,4,5,6,7,8,9,10,11,12,4,5,7,98,0,1,46,8,9,0]
subsequencelist = [1,2,3,4,5,6,7]
main_list_len = len(main_list)
subsequencelist_len = len(subsequencelist)
Flag = False
if(subsequencelist_len>main_list_len):
    Flag=False
if (main_list_len>0) and (subsequencelist_len>0):
    for item in subsequencelist:
        try:
            item_index_mainlist = main_list.index(item)
            main_list = main_list[item_index_mainlist+1::]
            Flag = True
        except ValueError:
            Flag = False
            break
if(Flag):
    print("Main List Contain another list as a SubSequence")
else:
    print("Main List Does not Contain another list as a SubSequence")

Main List Contain another list as a SubSequence

Problem 50 : Swap two elements in a list by their indices.

In [100]:
list_a = [1,2,3,4,5]
#enter the position which you want to swap
pos1 = 1
pos3 = 3
print("Original List:",list_a)
list_a[pos1],list_a[pos3] = list_a[pos3],list_a[pos1]
print("Swaped List:",list_a)

Original List: [1, 2, 3, 4, 5]
Swaped List: [1, 4, 3, 2, 5]

TPOIC: Tuple Based Practice Problem

Problem 1 : Create a tuple with integers from 1 to 5.

In [101]:
tuple_data = (1,2,3,4,5)
print(tuple_data)

(1, 2, 3, 4, 5)

Problem 2: Access the third element of a tuple.

In [102]:
my_tuple = (10, 20, 30, 40, 50)
third_element = my_tuple[2]
print("Third element of the tuple:", third_element)

Third element of the tuple: 30

Problem 3: Find the length of a tuple without using the `len()` function.

In [103]:
def tuple_length(my_tuple):
    count = 0
    for i in my_tuple:
        count += 1
    return count
my_tuple = (10, 20, 30, 40, 50)
length_of_tuple = tuple_length(my_tuple)

print("Length of the tuple:", length_of_tuple)

Length of the tuple: 5

Problem 4: Count the occurrences of an element in a tuple.

In [104]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple.count(10)

1

Problem 5: Find the index of the first occurrence of an element in a tuple.

In [105]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple.index(10)

0

Problem 6: Check if an element exists in a tuple.

In [106]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

Problem 7: Convert a tuple to a list.

In [107]:
my_tuple = (10, 20, 30, 40, 50)
print(f"Convert tuple {my_tuple} to list:",list(my_tuple))

Convert tuple (10, 20, 30, 40, 50) to list: [10, 20, 30, 40, 50]

Problem 8: Convert a list to a tuple.

In [108]:
my_list = [1,2,3,4,5,6,7,8]
print(f"Convert list {my_list} to tuple :",tuple(my_list))

Convert list [1, 2, 3, 4, 5, 6, 7, 8] to tuple : (1, 2, 3, 4, 5, 6, 7, 8)

Problem 9: Unpack the elements of a tuple into variables.

In [109]:
my_tuple = (10, 20, 30, 40, 50)
a,b,c,d,e = my_tuple
# UnPack Value
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)
print("e:", e)

a: 10
b: 20
c: 30
d: 40
e: 50

Problem 10: Create a tuple of even numbers from 1 to 10.

In [110]:
even_numbers_tuple = tuple(x for x in range(2, 11, 2))
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

Problem 11: Create a tuple of odd numbers from 1 to 10.

In [111]:
odd_numbers_tuple = tuple(x for x in range(1, 10, 2))
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

Problem 12: Concatenate two tuples.

In [112]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,6,7,8,9)
tuple3 = tuple1 + tuple2
print("tuple After Concatenate:",tuple3)

tuple After Concatenate: (1, 2, 3, 4, 5, 6, 6, 7, 8, 9)

Problem 13: Repeat a tuple three times.

In [113]:
tuple1 = (1,2,3,4)
tuple2 = tuple1*3
print("Tuple After three times repeat:",tuple2)

Tuple After three times repeat: (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

Problem 14: Check if a tuple is empty.

In [114]:
tuple1 = ()
if(tuple1==()):
    print("Tuple is Empty")
else:
    print("Tuple is not empty")

Tuple is Empty

Problem 15: Create a nested tuple.

In [115]:
# created a nested tuple
tuple1 = (1,2,3,4,5,(6,7,9))

Problem 16: Access the first element of a nested tuple.

In [116]:
# nested tuple
tuple1 = (1,2,3,4,5,(6,7,9))
nested_tuple = tuple1[5]
# print nested tuple first element
print("Nested tuple first element:",nested_tuple[0])

Nested tuple first element: 6

Problem 17: Create a tuple with a single element.

In [117]:
# created a tuple with single element
tuple1 = (1)
print(tuple1)

1

Problem 18: Compare two tuples.

In [118]:
tuple1 = (1,2,3,4)
tuple2 = (1,3,4)
if(tuple1==tuple2):
    print("tuple are equal")
else:
    print("tuple are not equal")

tuple are not equal

Problem 19: Delete a tuple.

In [119]:
test_tup = (1,2,3,4)
temp = list(test_tup)
temp.clear()
test_tup = tuple(temp)
print("tuple after delete:",test_tup)

tuple after delete: ()

Problem 20: Slice a tuple.

In [120]:
tup = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
# slice a tuple
tup[3:7]

(4, 2.4, 2, 56)

Problem 21: Find the maximum value in a tuple.

In [121]:
tup = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
max_value = max(tup)
print("Maximum Value in Tuple:",max_value)

Maximum Value in Tuple: 890

Problem 22: Find the minimum value in a tuple.

In [122]:
tup = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
min_value = min(tup)
print("Minimum Value in Tuple:",min_value)

Minimum Value in Tuple: 1

Problem 23: Convert a string to a tuple of characters.

In [123]:
name = "pwskills"
tup = tuple(name)
print("Convert String to Tuple:",tup)

Convert String to Tuple: ('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

Problem 24: Convert a tuple of characters to a string.

In [124]:
tup = ('p', 'w', 's', 'k', 'i', 'l', 'l', 's')
str1 = ''.join(tup)
print("Convert tuple to string:",str1)

Convert tuple to string: pwskills

Problem 25: Create a tuple from multiple data types.

In [125]:
# crated a stuple from multiple data types
tup = (1,2,3.5,"maneesh",'q',(1,2,3))
print("tuple of multiple data types:",tup)

tuple of multiple data types: (1, 2, 3.5, 'maneesh', 'q', (1, 2, 3))

Problem 26: Check if two tuples are identical.

In [126]:
tuple1 = (1,2,3,4,5)
tuple2 = (1,2,3,4,5)
if(tuple1 == tuple2):
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

Problem 27: Sort the elements of a tuple.

In [127]:
tup = (22, 3, 45, 4, 2.4, 2, 56, 890, 1)
print("Sorted tuple:",sorted(tup))

Sorted tuple: [1, 2, 2.4, 3, 4, 22, 45, 56, 890]

Problem 28: Convert a tuple of integers to a tuple of strings.

In [128]:
# Example tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)
# Convert to tuple of strings using list comprehension
tuple_of_strings = tuple(str(i) for i in tuple_of_integers)
# Print the result
print(tuple_of_strings)

('1', '2', '3', '4', '5')

Problem 29: Convert a tuple of strings to a tuple of integers.

In [129]:
# Example tuple of Strings
tuple_of_strings = ('1', '2', '3', '4', '5')
# Convert to tuple of strings using list comprehension
tuple_of_integers = tuple(int(i) for i in tuple_of_strings)
# Print the result
print(tuple_of_integers)

(1, 2, 3, 4, 5)

Problem 30: Merge two tuples.

In [130]:
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)
merge_tuple = tup1 + tup2
print("Tuple after merging:",merge_tuple)

Tuple after merging: (1, 2, 3, 4, 5, 6, 7, 8)

Problem 31: Flatten a nested tuple.

In [131]:
def flatten_nested_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_nested_tuple(item))
        else:
            flattened.append(item)
    return flattened
# Example nested tuple
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
# Flatten the nested tuple using the recursive function
flattened_tuple = tuple(flatten_nested_tuple(nested_tuple))
# Print the result
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Problem 32: Create a tuple of the first 5 prime numbers.

In [132]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(5)
#print prime number list
print("Tuple of First 5 Prime Number:",tuple(prime_list))

Tuple of First 5 Prime Number: (2, 3, 5)

Problem 33: Check if a tuple is a palindrome.

In [133]:
def is_palindrome(input_tuple):
    """Check if a tuple is a palindrome."""
    return input_tuple == input_tuple[::-1]
# Example: Check if a tuple is a palindrome
example_tuple = (1, 2, 3, 2, 1)
if is_palindrome(example_tuple):
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

Problem 34: Create a tuple of squares of numbers from 1 to 5.

In [134]:
# Using a list comprehension to create a tuple of squares
squares_tuple = tuple(i**2 for i in range(1, 6))
# Print the result
print(squares_tuple)

(1, 4, 9, 16, 25)

Problem 35: Filter out all even numbers from a tuple.

In [135]:
tuple1 = (2,3,4,5,6,7,8,9,10)
even_number = []
for i in tuple1:
    if(i%2==0):
        even_number.append(i)
print("Even Number from Tuple:",tuple(even_number))

Even Number from Tuple: (2, 4, 6, 8, 10)

Problem 36: Multiply all elements in a tuple by 2.

In [136]:
tuple1 = (2,3,4,5,6,7,8,9,10)
print("Tuple after multiply all elemennt by 2 :",tuple1*2)

Tuple after multiply all elemennt by 2 : (2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Problem 37: Create a tuple of random numbers.

In [137]:
import random
# Using a list comprehension to create a tuple of random integers
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
# Print the result
print(random_tuple)

(35, 18, 95, 48, 63)

Problem 38: Check if a tuple is sorted.

In [138]:
# Function to check if a tuple is sorted
def is_sorted(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))
# Example: Check if a tuple is sorted
sorted_tuple = (1, 2, 3, 4, 5)
if is_sorted(sorted_tuple):
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

Problem 39: Rotate a tuple to the left by `n` positions.

In [139]:
def rotate_left(tuple_to_rotate, n):
    # Calculate the effective rotation index
    n = n % len(tuple_to_rotate)
    # Perform the rotation using slicing
    rotated_tuple = tuple_to_rotate[n:] + tuple_to_rotate[:n]
    return rotated_tuple
# Example: Rotate a tuple to the left by 2 positions
original_tuple = (1, 2, 3, 4, 5)
n_positions = int(input("Enter Number of Position"))
rotated_tuple = rotate_left(original_tuple, n_positions)
# Print the result
print(rotated_tuple)

Enter Number of Position 6

(2, 3, 4, 5, 1)

Problem 40: Rotate a tuple to the right by `n` positions.

In [140]:
def rotate_right(tuple_to_rotate, n):
    # Calculate the effective rotation index
    n = n % len(tuple_to_rotate)
    # Perform the rotation using slicing
    rotated_tuple = tuple_to_rotate[-n:] + tuple_to_rotate[:-n]
    return rotated_tuple
# Example: Rotate a tuple to the left by 2 positions
original_tuple = (1, 2, 3, 4, 5)
n_positions = int(input("Enter Number of Position"))
rotated_tuple = rotate_right(original_tuple, n_positions)
# Print the result
print(rotated_tuple)

Enter Number of Position 4

(2, 3, 4, 5, 1)

Problem 41: Create a tuple of the first 5 Fibonacci numbers.

In [141]:
def fibonacci(n, a, b):
    if n == 0:
        return tuple([])
    elif n == 1:
        return tuple([a])
    elif n == 2:
        return tuple([a, b])
    else:
        fib = [a, b]
        for i in range(2, n):
            fib.append(fib[i-1] + fib[i-2])
        return tuple(fib)
input_number = int(input("Enter Number to List Fibonacci Number"))
fibonacci(input_number,0,1)

Enter Number to List Fibonacci Number 5

(0, 1, 1, 2, 3)

Problem 42: Create a tuple from user input.

In [142]:
# Get input from the user for the tuple elements
input_values = input("Enter elements for the tuple separated by commas: ")
# Split the input string into a list using commas as the delimiter
elements = input_values.split(',')

# Convert the list of elements into a tuple
user_tuple = tuple(elements)
print(user_tuple)

Enter elements for the tuple separated by commas:  4

('4',)

Problem 43: Swap two elements in a tuple.

In [143]:
tup = (1,2,3,4,5)
#enter position which want to swap
pos1 = 2
pos2 = 3
tup_list = list(tup)
tup_list[pos1],tup_list[pos2] = tup_list[pos2],tup_list[pos1]
print("Original tuple:",tup)
print("After Swap Tuple:",tuple(tup_list))

Original tuple: (1, 2, 3, 4, 5)
After Swap Tuple: (1, 2, 4, 3, 5)

Problem 44: Reverse the elements of a tuple.

In [144]:
tup = (1,5,3,4,7)
# reverse the element of tuple
reverse_tuple = tup[::-1]
print("Original Tuple:",tup)
print("Reverse Tuple:",reverse_tuple)

Original Tuple: (1, 5, 3, 4, 7)
Reverse Tuple: (7, 4, 3, 5, 1)

Problem 45: Create a tuple of the first `n` powers of 2.

In [145]:
# Get the value of n from the user
n = int(input("Enter the value of n: "))

# Create a tuple of the first n powers of 2
powers_of_2 = tuple(2**i for i in range(n))

# Print the resulting tuple
print("Tuple of the first", n, "powers of 2:", powers_of_2)

Enter the value of n:  6

Tuple of the first 6 powers of 2: (1, 2, 4, 8, 16, 32)

Problem 46: Find the longest string in a tuple of strings.

In [146]:
tup = ("my","name","is","schools","sgfsdhgds")
max_len = -1
for item in tup:
    if(len(item)>max_len):
        max_len = len(item)
        res234 = item
print("longest string:",res234)

longest string: sgfsdhgds

Problem 47: Find the shortest string in a tuple of strings.

In [147]:
tup23 = ("my","name","is","schools","k")
min_len = len(tup23[0])
#short_string = "my"
for item in tup23: 
    if len(item) < min_len:
        min_len = len(item)
        short_string = item
print("Shortest string:",short_string)

Shortest string: k

Problem 48: Create a tuple of the first `n` triangular numbers.

In [148]:
n = int(input("Tringular Number"))
# Create a tuple of the first n triangular numbers
triangular_numbers = tuple((i*(i+1))//2 for i in range(1, n + 1))
print(f"The first {n} triangular numbers are: {triangular_numbers}")

Tringular Number 8

The first 8 triangular numbers are: (1, 3, 6, 10, 15, 21, 28, 36)

Problem 49: Check if a tuple contains another tuple as a subsequence.

In [149]:
def is_subsequence(sub, full):
    sub_len = len(sub)
    full_len = len(full)

    for i in range(full_len - sub_len + 1):
        if full[i:i + sub_len] == sub:
            return True

    return False

# Example usage
larger_tuple = (1, 2, 3, 4, 5, 6, 7)
smaller_tuple = (3, 4, 5)

if is_subsequence(smaller_tuple, larger_tuple):
    print("The smaller tuple is a subsequence of the larger tuple.")
else:
    print("The smaller tuple is not a subsequence of the larger tuple.")

The smaller tuple is a subsequence of the larger tuple.

Problem 50: Create a tuple of alternating 1s and 0s of length `n`.

In [150]:
# Get the value of n from the user
n = int(input("Enter the length of the tuple: "))

# Create a tuple of alternating 1s and 0s
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Print the resulting tuple
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Enter the length of the tuple:  9

Tuple of alternating 1s and 0s: (1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

Problem 1:  Create a set with integers from 1 to 5.

In [151]:
set_a = {1,2,3,4,5}
set_a #print set

{1, 2, 3, 4, 5}

Problem 2: Add an element to a set.

In [152]:
set_a = {1,2,3,4}
set_a.add(5) # add element to set
set_a

{1, 2, 3, 4, 5}

Problem 3: Remove an element from a set.

In [153]:
set_b = {1,2,3,4}
set_b.remove(3) #remove element
set_b

{1, 2, 4}

Problem 4: Check if an element exists in a set.

In [154]:
set_c = {1,2,3,4}
check_element = 4
if check_element in set_c:
    print("Element Exist in Set")
else:
    print("Element does not exist in set")

Element Exist in Set

Problem 5: Find the length of a set without using the `len()` function.

In [155]:
set_d = {1,2,3,4,5,6}
count = 0
for item in set_d:
    count +=1
print("Len of Set:",count)

Len of Set: 6

Problem 6:Clear all elements from a set.

In [156]:
set_d = {1,2,3,4}
set_d.clear() #clear set
set_d

set()

Problem 7:Create a set of even numbers from 1 to 10.

In [157]:
set_even = set()
for i in range(1,11):
    if i%2==0:
        set_even.add(i)
print(set_even)

{2, 4, 6, 8, 10}

Problem 8: Create a set of odd numbers from 1 to 10.

In [158]:
set_odd = set()
for i in range(1,11):
    if i%2 != 0:
        set_odd.add(i)
print(set_odd)

{1, 3, 5, 7, 9}

Problem 9: Find the union of two sets.

In [159]:
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8,9}
set_c = set_a.union(set_b) #union of two set/
print(set_c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Problem 10: Find the intersection of two sets.

In [160]:
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8,9}
set_c = set_a.intersection(set_b) #intersection of two set/
print(set_c)

{4, 5}

Problem 11: Find the difference between two sets.

In [161]:
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8,9}
set_c = set_a.difference(set_b) #difference of two set/
print(set_c)

{1, 2, 3}

Problem 12: Check if a set is a subset of another set.

In [162]:
set_a = {1,2,3,4,5,6,7,8,9}
set_b = {4,5,1,6}
flag = set_b.issubset(set_a)
if flag:
    print("Set is subset of another set")
else:
    print("Set is not subset of another set")

Set is subset of another set

Problem 13: Check if a set is a superset of another set.

In [163]:
set_a = {1,2,3,4,5,6,7,8,9}
set_b = {4,5,0,6}
flag = set_a.issuperset(set_b)
if flag:
    print("Set is superset of another set")
else:
    print("Set is not superset of another set")

Set is not superset of another set

Problem 14: Create a set from a list.

In [164]:
list_a = [1,2,3,4,5,5,6,6]
set_a = set(list_a) #convert list to a set
print(set_a)

{1, 2, 3, 4, 5, 6}

Problem 15: Convert a set to a list.

In [165]:
set_a = {1, 2, 3, 4, 5, 6}
list_a = list(set_a) #convert set to a list
print(list_a)

[1, 2, 3, 4, 5, 6]

Problem 16: Remove a random element from a set.

In [166]:
import random
my_set = {1, 2, 3, 4, 5}
# Remove a random element using pop()
removed_element = random.choice(list(my_set))
my_set.remove(removed_element)
print("Removed element:", removed_element)
print("Set after removal:",my_set)

Removed element: 5
Set after removal: {1, 2, 3, 4}

Problem 17: Pop an element from a set.

In [167]:
set_a = {1,2,23,4,5}
set_a.pop() #pop element from set/
print("Set after Pop:",set_a)

Set after Pop: {2, 4, 5, 23}

Problem 18: Check if two sets have no elements in common.

In [168]:
set1 = {1, 2, 3}
set2 = {4, 5, 3}
# Check if sets have no elements in common using isdisjoint()
are_disjoint = set1.isdisjoint(set2)
print("Are the sets have no common elements?", are_disjoint)

Are the sets have no common elements? False

Problem 19:Find the symmetric difference between two sets.

In [169]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
# Using the symmetric_difference() method
symmetric_difference_method = set1.symmetric_difference(set2)
print("Symmetric difference using symmetric_difference() method:", symmetric_difference_method)

Symmetric difference using symmetric_difference() method: {1, 2, 6, 7}

Problem 20: Update a set with elements from another set.

In [170]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
# Using the update() method
set1.update(set2)
print("Updated set using update() method:", set1)

Updated set using update() method: {1, 2, 3, 4, 5}

Problem 21:Create a set of the first 5 prime numbers.

In [171]:
set_a = set()
for i in range(2,6):
    for j in range(2,int(i*0.5)+1):
        if i%j==0:
            break
    else:
        set_a.add(i)
print(set_a) #print prime number set

{2, 3, 5}

Problem 22: Check if two sets are identical.

In [172]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
if set1==set2:
    print("Set are Identical")
else:
    print("Set are not identical")

Set are not identical

Problem 23: Create a frozen set.

In [173]:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)

print("Original set:", my_set)
print("Frozen set:", frozen_set)

Original set: {1, 2, 3, 4, 5}
Frozen set: frozenset({1, 2, 3, 4, 5})

Problem 24: Check if a set is disjoint with another set.

In [174]:
set1 = {1, 2, 3}
set2 = {4, 5, 3}
# Check if sets have no elements in common using isdisjoint()
are_disjoint = set1.isdisjoint(set2)
print("A set is disjoint with another set:", are_disjoint)

A set is disjoint with another set: False

Problem 25: Create a set of squares of numbers from 1 to 5.

In [175]:
set_a = set()
for i in range(1,6):
    set_a.add(i**2)
print(set_a) # print squares of numbers from 1 to 5.

{1, 4, 9, 16, 25}

Problem 26: Filter out all even numbers from a set.

In [176]:
set_a = {1,2,3,4,5,6,7,8,9,10}
filter_even_set= set()
for i in range(1,len(set_a)+1):
    if i%2==0:
        filter_even_set.add(i)
print("Original set:", set_a)
print("Filtered set (excluding even numbers):", filter_even_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered set (excluding even numbers): {2, 4, 6, 8, 10}

Problem 27:Multiply all elements in a set by 2.

In [177]:
set_a = {1,2,3,4,5,6,7,8,9,10}
new_Set = set()
for i in range(1,len(set_a)):
    new_Set.add(i*2)
print("Original Set:",set_a)
print("Multiply all elements in a set by 2:", new_Set)

Original Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Multiply all elements in a set by 2: {2, 4, 6, 8, 10, 12, 14, 16, 18}

Problem 28:Create a set of random numbers.

In [178]:
import random
# Generate a set of 5 random numbers between 1 and 20
random_set = set(random.sample(range(1, 21), 5))
print("Random set:", random_set)

Random set: {1, 2, 7, 14, 17}

Problem 29:Check if a set is empty.

In [179]:
set_a = {1,2,3,4,5}
if set_a == set():
    print("Set is Empty")
else:
    print("Set is not empty")

Set is not empty

Problem 30: Create a nested set (hint: use frozenset).

In [180]:
# created nested set using frozenset
nested_set = frozenset([
    1,
    2,
    frozenset([
        3,
        4,
        frozenset([
            5,
            6
        ])
    ]),
    7
])

print(nested_set)

frozenset({1, 2, frozenset({frozenset({5, 6}), 3, 4}), 7})

Problem 31: Remove an element from a set using the discard method.

In [181]:
set_a = {1,2,3,344}
element_to_discard = 1
print("Original Set:",set_a)
set_a.discard(element_to_discard)
print("Set after element discsrd:",set_a)

Original Set: {344, 1, 2, 3}
Set after element discsrd: {344, 2, 3}

Problem 32: Compare two sets.

In [182]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 2, 1}

if set1 == set2: # comparev two set
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

Problem 33: Create a set from a string.

In [183]:
#string
my_string = "pwskills"
my_set = set(my_string)

print(my_set) #print set

{'p', 'w', 'k', 'i', 's', 'l'}

Problem 34:Convert a set of strings to a set of integers.

In [184]:
set_of_string = {'1', '2', '3', '4', '5', '6'}
set_of_integer = set()
for i in set_of_string:
    set_of_integer.add(int(i)) #convert set of string to set of integer
print(set_of_integer)

{1, 2, 3, 4, 5, 6}

Problem 35:Convert a set of integers to a set of strings.

In [185]:
set_of_integer = {1, 2, 3, 4, 5, 6}
set_of_string = set()
for i in set_of_integer:
    set_of_string.add(str(i)) #convert set of integer to set of string
print(set_of_string)

{'2', '6', '4', '3', '1', '5'}

Problem 36: Create a set from a tuple.

In [186]:
#tuple
tup = (1,2,3,4,54,3,4,5,5)
set_a = set(tup) # created set from tuple
print(set_a)

{1, 2, 3, 4, 5, 54}

Problem 37: Convert a set to a tuple.

In [187]:
set_a = {1,2,3,45,6,7,78,8}
tup = tuple(set_a) #convert set to tuple
print(tup)

(1, 2, 3, 6, 7, 8, 45, 78)

Problem 38: Find the maximum value in a set.

In [188]:
set_a = {1,2,34,5,6,7,889,78}
maximum_value = max(set_a)
print("Maximum Vaue in set:",maximum_value)

Maximum Vaue in set: 889

Problem 39: Find the minimum value in a set.

In [189]:
set_a = {1,0,2,34,5,6,7,889,78}
minimum_value = min(set_a)
print("Minimum Vaue in set:",minimum_value)

Minimum Vaue in set: 0

Problem 40:Create a set from user input.

In [190]:
user_input = input("Enter Elemeent By Separated with Comma")
set_a = set(user_input.split(','))
print("User Input Set:",set_a)

Enter Elemeent By Separated with Comma 12

User Input Set: {'12'}

Problem 41: Check if the intersection of two sets is empty.

In [191]:
set_a = {12,4,7,8,9,0,1,2}
set_b = {12,11,10,9,1,2,3,4,5}
intersection_set = set_a.intersection(set_b)
if intersection_set ==set():
    print("Intersection of these two sets is empty")
else:
    print("Intersection of these two set is not empty")

Intersection of these two set is not empty

Problem 42: Create a set of the first 5 Fibonacci numbers.

In [192]:
def fibonacci(n, a, b):
    if n == 0:
        return set()
    elif n == 1:
        return set(a)
    elif n == 2:
        return set(a, b)
    else:
        fib = [a, b]
        for i in range(2, n+1):
            fib.append(fib[i-1] + fib[i-2])
        return set(fib)
input_number = int(input("Enter Number to List Fibonacci Number"))
fibonacci(input_number,0,1)

Enter Number to List Fibonacci Number 12

{0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144}

Problem 43: Remove duplicates from a list using sets.

In [193]:
my_list = [1, 2, 3, 2, 4, 5, 1, 6, 7, 7, 8]
# Convert the list to a set to remove duplicates
unique_set = set(my_list)
# Convert the set back to a list
unique_list = list(unique_set)
print(unique_list)

[1, 2, 3, 4, 5, 6, 7, 8]

Problem 44:Check if two sets have the same elements, regardless of their count.

In [194]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

Problem 45:Create a set of the first `n` powers of 2.

In [195]:
set_a = set()
number_count = int(input("Enter Number of Power of Count:"))
for i in range(number_count):
    set_a.add(i**2)
print("Set of the first", number_count ,"powers of 2:",set_a)

Enter Number of Power of Count: 23

Set of the first 23 powers of 2: {0, 1, 256, 4, 9, 16, 144, 400, 25, 289, 36, 169, 49, 441, 64, 196, 324, 81, 225, 100, 484, 361, 121}

Problem 46:Find the common elements between a set and a list.

In [196]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)
print(common_elements)

{3, 4, 5}

Problem 47: Create a set of the first `n` triangular numbers.

In [197]:
n = int(input("Tringular Number"))
# Create a set of the first n triangular numbers
triangular_numbers = set((i*(i+1))//2 for i in range(1, n + 1))
print(f"The first {n} triangular numbers are: {triangular_numbers}")

Tringular Number 12

The first 12 triangular numbers are: {1, 66, 3, 36, 6, 10, 45, 78, 15, 21, 55, 28}

Problem 48: Check if a set contains another set as a subset.

In [198]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Using issubset method
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

Problem 49: Create a set of alternating 1s and 0s of length `n`.

In [199]:
# Get the value of n from the user
n = int(input("Enter the length of the set: "))

# Create a tuple of alternating 1s and 0s
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

# Print the resulting set
print("set of alternating 1s and 0s:", alternating_set)

Enter the length of the set:  11

set of alternating 1s and 0s: {0, 1}

Problem 50: Merge multiple sets into one.

In [200]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
# Using union method
merged_set = set1.union(set2, set3) 
print("Merged Set:",merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}